.header{
    background-color: rgba(0, 0, 0, 0.897);
    color: darkgrey;
    height: 170px;
}
.right {
    float: right;
}
.left {
    float: left;
}

button {
    background-color: orange;
    color: white;
}

input {
    background-color: black;
    color:gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navtop{
    background-color: black;
}
.nav-link{
    color:darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-link:hover{
    color: orange;
}
.header1 {
    color: darkgrey;
    margin: 0px auto;
}
.sec1{
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px auto;
    background-color: #0a0a0ae3;
}
.para{
    color: orange;
    float: right;
    font-weight: bold;
}
.sec2{
    height: 300px;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
   align-items: center;
}
.sec3{
    color: darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sec4{
    background-color: black;
    color: darkgrey;
    text-align: center;
    height: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.colprop.col-4{
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;

}
.orange-letters{
    color: orange;
}
.para2{
    color: orange;
    float: right;
    font-weight: bold;
}
.sec5{
    background-color: black;
    color: darkgray;
    text-align: center;
    height: 180px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.sec6{
    color: darkgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sec7{
    background-color: black;
    color: darkgrey;
    height: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sec8{
    background-color: black;
    color: darkgrey;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.sec9{
    background-color: black;
    color: darkgrey;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sec10{
    background-color: black;
    color: darkgray;
    height: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.sec11{
    background-color: black;
    color: darkgrey;
    height: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}
.sec12{
    background-color: black;
    color: darkgrey;
    height: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}
.para4{
    color: darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.para5{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    border-color: darkgrey;
}
.para6{
    border-bottom: 1px dotted;
    border-color: darkgrey;
    color: darkgrey;
    padding: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
}
.para7{
    border-bottom: 1px dotted;
    color: orange;
    border-color: darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    list-style: none;

}
.para8{
    border-bottom: 1px dotted;
    color: orange;
    border-color: darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3px;
    list-style: none;

}

.pad{
    padding: 0px;
    margin-right: 0px;
}
.colororange{
    color: orange;
    font-weight: bold;
}
.iconarrow{
    color: orange;
    font-size: 10px;
}
.iconarroww{
    color: darkgrey;
    font-size: 10px;
}
.footer {
    background-color: rgba(0, 0, 0, 0.884);
    padding: 20px;
}
.footer h5{
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer ul{
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:orange;
}
.footer-bottom{
    background-color: black;
    color: darkgrey ;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}